.list-complicated-container {
    display: flex;
    flex-wrap: wrap;
}

.list-complicated-container .first-part-list {
    padding-left: 60px;
}

.list-complicated-container .second-part-list {
    padding-left: 30px;
}

.list-complicated-container .third-part-list {
    padding-left: 15px;
}