.list-group__item {
    border: none;
}

.list-group_is_background:hover {
    background: #e9ecef;
}

.column-list_is_size_text {
    font-size: 16.67px;
}

@media screen and (max-width: 720px) {
    .column-list_is_size_text {
        font-size: 21px;
    }
}
