@media screen and (min-width: 992px) {
    #menu__shown {
        display: flex;
    }

    #menu__hidden {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    #menu__shown {
        display: none;
    }

    #menu__hidden {
        display: block;
    }
}