.navbar-container {
    display: flex;
}

.navbar-container .navbar-left {
    display: flex;
    align-items: center;
}

.navbar-container .navbar-left .menu-left {
    display: flex;
    list-style-type: none;
}