    @import '../common_styles/pallete_mobile_menu.scss';
    
    @mixin sizes($width, $height) {
        width: $width;
        height: $height;
    }

    @mixin pseudo-location($content, $up) {
        content: $content;
        top: $up;
    }

    @mixin rotation-transpos($up, $roll) {
        top: $up;
        transform: $roll;
    }
    
    .humburger-menu__toggle {
        opacity: 0;
    }

    .humburger-menu__btn {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .humburger-menu_sizes {
        @include sizes(26px, 26px);
    }

    .humburger-menu_moved {
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 2;
    }

    .humburger-menu__btn > span,
    .humburger-menu__btn span::before,
    .humburger-menu__btn span::after {
        display: block;
    }

    .humburger-menu_moved > span,
    .humburger-menu_moved > span::before,
    .humburger-menu_moved > span::after {
        position: absolute;
    }

    .humburger-menu_sizes > span,
    .humburger-menu_sizes > span::before,
    .humburger-menu_sizes > span::after {
        @include sizes(100%, 2px);
    }

    .humburger-menu_colored > span,
    .humburger-menu_colored > span::before,
    .humburger-menu_colored > span::after {
        background-color: $color_humburger_menu;
    }

    .humburger-menu__btn > span::before {
        @include pseudo-location('', -8px);
    }

    .humburger-menu__btn > span::after {
        @include pseudo-location('', 8px);
    }

      .menu-box {
        display: block;
        visibility: hidden;
        list-style: none;
        text-align: center;
        margin: 0;
      }

      .menu-box_moved {
        position: fixed;
        top: 0;
        z-index: 1;
      }

      .menu-box_sizes {
        @include sizes(300px, 100%);
      }

      .menu-box_outer_dists {
        padding: 80px 0;
      }

      .menu-box_colored_shadow {
        background-color: $color_background;
        box-shadow: 1px 0px 6px $color_shadow;
      }

      .menu-box__item-list {
          .menu-box__item-link {
              display: block;
              text-decoration: none;
          }
      }

      .menu-box__item-list {
          .menu-box_link_sizes {
              font-size: 20px;
          }
      }

      .menu-box__item-list {
          .menu-box_link_colored {
              color: $color_link;
          }
      }

      .menu-box__item-list {
          .menu-box_link_colored {
              &:hover {
                background-color: $color_item_link; 
              }
          }
      }

      #menu__toggle:checked ~ .humburger-menu__btn > span {
        transform: rotate(45deg);
      }

      #menu__toggle:checked ~ .humburger-menu__btn > span::before {
        @include rotation-transpos(0, rotate(0));
      }

      #menu__toggle:checked ~ .humburger-menu__btn > span::after {
        @include rotation-transpos(0, rotate(90deg));
      }

      #menu__toggle:checked ~ .menu-box {
        visibility: visible;
        right: 0;
      }

      .invisibility {
          display: none;
      }

      #menu-box__Exchange {
          .menu-box__icon {
              @extend .invisibility;
          }
      }

      #menu-box__Bonuses {
          .menu-box__icon {
              @extend .invisibility;
          }
      }

      #menu-box__Income {
          .menu-box__icon {
              @extend .invisibility;
          }
      }

      #menu-box__Support {
          .menu-box__icon {
              @extend .invisibility;
          }
      }

      #menu-box__LogIn {
          .menu-box__icon {
              @extend .invisibility;
          }
      }

      #menu-box__Account {
          .menu-box__icon {
              @extend .invisibility;
          }
      }

      #menu-box__FAQ {
          .menu-box_icon-sizes {
              width: 30px;
              height: 30px;
          }
      }

      #menu-box__FAQ {
          .menu-box__icon {
              margin-left: 20px;
          }
      }

      @media screen and (max-width: 720px) {
          .humburger-menu_moved {
              margin-right: 15px;
          }
      }

      @media screen and (min-width: 721px) and (max-width: 991px) {
          .humburger-menu {
              .humburger-menu__btn {
                  z-index: 4;
              }
          }

          .humburger-menu {
              .menu-box {
                  z-index: 2;
              }
          }
      }

      @media screen and (max-width: 992px) {
          .menu-box__item-list {
              text-align: left;
              padding-left: 20px;
              margin-bottom: 10px;
          }

          .menu-box__item-list {
              .menu-box_link_sizes {
                  text-transform: uppercase;
                  font-size: 17px;
              }
          }

          .menu-box__item-list {
              .menu-box__item-link {
                  padding: 5px 5px 0 20px;
              }
          }

          .menu-box__item-list {
            .menu-box_link_colored {
                &:hover {
                    border-left: 5px solid #ff9800;
                }
            }
        }

        .menu-box {
            .menu-box__item-list:last-child > .menu-box_link_colored {
                    color: #2979ff;
            }
        }
      }