.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar-right {
    .menu-right {
        display: flex;
    }
}

.navbar-right {
    .menu-right_remove_list_styles {
        list-style-type: none;
    }
}

.menu-right__list {
    .menu-right__link {
        text-decoration: none;
    }
}

.menu-right__list {
    .menu-right_is_color_link {
        color: #000;
    }
}

.menu-right__list {
    .menu-right_inner-distance {
        padding: 12px; /*Пересчитать!*/
    }
}

.menu-right__list {
    .menu-right_is_size_text {
        font-size: 14px;
    }
}

#link_2 {
    color: #2979ff;
}