@import '../common_styles/pallete_navbar_left.scss';

.menu-left {
    display: flex;
}

.menu-left__list {
    list-style-type: none;
}

.menu-left__list {
    .menu-left__link {
        text-decoration: none;
    }
}

.menu-left__list {
    .menu-left_outer {
        padding: 12px;
    }
}

.menu-left__list {
    .menu-left_color_link {
        color: $menu_left_color_link;
    }
}

.menu-left__list {
    .menu-left_size_text {
        font-size: 15px;
    }
}

.menu-left_scale {
    width: 22px;
    height: 22px;
}

.navbar-left {
    padding-top: 12px;
}

.invisible {
    display: none;
}

#Exchange {
    @extend .invisible;
}

#Bonuses {
    @extend .invisible;
}

#Income {
    @extend .invisible;
}

#Support {
    @extend .invisible;
}

#FAQ {
    margin-left: 32px;
}

#Support__list {
    margin-left: -4px;
}

#Support__list {
    .menu-left__link {
        padding-left: 0;
    }
}

@media screen and (min-width: 993px) and (max-width: 1139px) {
    .menu-left {
        padding-left: 0;
    }
}