.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar-right {
    .menu-right {
        display: flex;
        list-style-type: none;
    }
}

.menu-right__list {
    .menu-right__link {
        text-decoration: none;
        padding: 12px; /*???*/
    }
}