@import '../common_styles/pallete_sidebar.scss';

@mixin checkmark($top, $left, $width, $height, $border) {
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    border: $border;
}

.sidebar {
    padding: 20px;
}

.sidebar_is_shadow {
    box-shadow: 0 5px 10px $color_sidebar_shadow;
}

.sidebar {
    .sidebar__title {
        margin-bottom: 20px;
    }
}

.sidebar {
    .sidebar_is_size_text, .sidebar_wrapper_is_size_text {
        font-size: 23px;
    }
}

.sidebar {
    .sidebar__wrapper-content {
        margin-bottom: 0;
    }
}

.checkbox-container {
    cursor: pointer;
    display: block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
}

.checkbox-container {
    .checkbox-container__checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.checkbox-container {
    .checkbox-container__text {
        display: inline-block;
        margin-left: 28px;
    }
}

.checkbox-container {
    .checkbox-container__checkmark {
        position: absolute;
        @include checkmark(0, 0, 20px, 20px, 1px solid $color_checkmark);
    }
}

.checkbox-container {
    .checkbox-container__checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
}

.checkbox-container {
    .checkbox-container__checkbox:checked ~ .checkbox-container__checkmark:after {
        display:block;
    }
}

.checkbox-container_is_length {
    width: 365px;
}

.checkbox-container {
    .checkbox-container__checkmark:after {
        @include checkmark(4px, calc(7px + 1.8%), 4px, 8px, solid $color_checkmark);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

.checkbox-container_is_remove_underline:hover {
    text-decoration: none;
}

.checkbox-container_link_colored, .checkbox-container_link_colored:hover {
    color: $color_checkbox_link;
}

.checkbox-container_is_text_size {
    font-size: 14px;
}

.btn-exchange_is_radius {
    border-radius: 0;
}

.btn-exchange {
    margin-top: 10px;
}

.btn-exchange_is_colored, .btn-exchange_is_colored:hover {
    background: $color_btn-exchange;
    color: $color_btn-exchange_text;
}

.btn-exachange_proportions {
    width: 100%;
    height: 65px;
}

.btn-exchange_is_shadow {
    box-shadow: 3px 8px 3px $color_btn-exchange_shadow, 0 6px 8px 0 $color_btn-exchange_shadow;
}

.btn-exchange_is_text_transform {
    text-transform: uppercase;
}

@media screen and (max-width: 720px) {
    .sidebar {
        .sidebar_is_size_text, 
        .sidebar_wrapper_is_size_text {
            font-size: 25px !important;
        }
    }

    .checkbox-container__text {
        margin-top: 4px;
    }

    .checkbox-container_is_length {
        width: 100%;
    }

    .checkbox-container_size_text {
        font-size: 15px;
    }
    
    .checkbox-container_is_transform_kind {
        display: inline-block;
        margin-top: 8px;
    }

    .btn-exachange_proportions {
        height: 100px;
    } 

    .btn-exchange_is_text_transform {
        font-size: 29px;
    }
}