@import '../common_styles/pallete_wrapper.scss';

.control_is_length {
    width: 365px;
}

.control_is_outer_distance {
    margin-bottom: 17px;
}

.control_tall {
    height: 45px;
}

.control_is_colored {
    background: $color_control;
}

.control_remove_border {
    border: none;
}

#component_3 {
    margin-bottom: 0;
}