.app-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  }
  
  .main {
    display: flex;
    flex: 1;
  }
  
  .main > .main__general-content {
    flex: 1;
  }
  
  .main > .main__sidebar-content {
    flex: 0 0 20%;
  }

  // Адаптивность сетки
  @media screen and (max-width: 1199px) {
    .main {
      display: block;
    }
  }
  
  @media screen and (min-width: 720px) and (max-width: 768px) {
    .main__sidebar-content {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 720px) {
    .main__general-content {
      display: flex;
      justify-content: center;
    }

    .main__general-content > div {
      width: 100%;
    }
  }